body {
 padding: 0px;
 margin: 0px;
 background: #f2f6e9;
}
.navbar {
 background:#3E3E3E;
}
.nav-link, .navbar-brand {
 color: #fff;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 color: #000;
 display: black;
}
.navbar-collapse {
	 justify-content: flex-end;
}
 .header {
 background-image: url('backgroundebayece.jpg');
 background-size: cover;
 background-position: center;
 position: relative;
 background-attachment: fixed;
}
.overlay {
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0px;
 top: 0px;
 background-color: rgba(0, 0, 0, 0.4);
 }
 .description {

	max-width: 380px;
	margin: auto;
	margin-top: 100px;
	background-color: rgba(236,133,10,0.9);
	text-align: center;
	border-radius: 20px;
	padding: 40px;
	
	box-sizing: border-box;
 	left: 50%;
 	position: absolute;
 	top: 30%;
 	transform: translate(-50%, -55%);
}

.form-control{
	width: 100%;
	outline: none;
	background-color: transparent;
	color: #3E3E3E;
	padding: 8px 6px;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px white solid;
}
.description h1 {
 color: #3E3E3E;
 font-size: 35px;
}
.description p {
 color: #fff;
 font-size: 1.3rem;
 line-height: 1.5;
}
.description button {
 border:1px solid #EC850A;
 background-color: #3E3E3E;
 border-radius: 0;
 color: #fff;
}
.description button:hover {
 border:1px solid #fff;
 background-color: #fff;
 color: #000;
}
 .features {
 margin: 4em auto;
  padding: 1em;
 position: relative;
}
.feature-title {
 color: #333;
 font-size: 1.3rem;
 font-weight: 700;
 margin-bottom: 20px;
 text-transform: uppercase;
}
.features img {
 -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 margin-bottom: 16px;
}
.features .form-control,
.features input {
 border-radius: 0;
}
.features .btn {
 background-color: orange;
 border: 1px solid #3E3E3E;
 color: #fff;
 margin-top: 20px;
}
.features .btn:hover {
 background-color: #333;
 border: 1px solid #333;
}
.page-footer {
 background-color: #3E3E3E;
 color: #ccc;
 padding: 60px 0 30px;
}
.footer-copyright {
 color: #666;
 padding: 40px 0;
}




/*ADAPTATION MOBILE*/

@media (max-width: 575.98px) {
 .description {
 left: 0;
 padding: 0 15px;
 position: absolute;
 top: 10%;
 transform: none;
 text-align: center;
 }

 .description h1 {
 font-size: 2em;
 }

 .description p {
 font-size: 1.2rem;
 }

 .features {
 margin: 0;
 }
}